html {
    font-family: "Times New Roman", Arial, Garamond;
}

body {
    background-color: aliceblue;
}

h1 {
    color:chocolate;
    text-align: center;
}

.heading {
    background-color: aquamarine;
    text-align: center;
}
p {
    text-align: justify;
}